<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobriety Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <a href="home" class="home-link">
        <i class='bx bx-home'></i> <!-- Use the Boxicons home icon -->
    </a>
    <div class="container">
        <h1>Sobriety Detection</h1>
        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
        <button class="btn" id="toggleBtn">Start Recording</button>
    </div>
</body>
<script>
    document.getElementById('toggleBtn').addEventListener('click', function() {
        var btn = this;
        var videoFeed = document.getElementById('video-feed');
        
        if (btn.innerText === 'Start Recording') {
            // Show video feed
            videoFeed.style.display = 'block';
            btn.innerText = 'Stop Recording';
            // Start camera
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'action=start',
            });
        } else {
            // Hide video feed
            videoFeed.style.display = 'none';
            btn.innerText = 'Start Recording';
            // Stop camera
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'action=stop',
            });
        }
    });
</script>
</html>
